body{
    text-align: center;
    background-color: rgb(250, 222, 185);
    font-family: sans-serif;
    margin-top: 50px;
}

#btnFormatar{
    width: 180px;
    background-color: beige;
    height: 80px;
}

input{
    border: 1px solid black;
    
}